{% extends "app_home/pages/home.html" %}

{% block content %}
<h2>Cadastro de EPI</h2>

{% if messages %}
{% for message in messages %}
<div class="custom-alert alert alert-success alert-dismissible fade show" role="alert">
  <span class="custom-alert-message">{{ message }}</span>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">&times;</button>
</div>
{% endfor %}
{% endif %}

<form method="POST">
  {% csrf_token %}
  {{ form.as_p }}

  <button type="submit">Cadastrar</button>
</form>

{% endblock content %}